#set($id = $product.Id)
#set($idSku = $product.productVariantId)
#set($uri = $product.Uri)
#set($escapedName = $product.HtmlEscapedName)
<!-- Campo produto na prateleira 
#set($selos = $product.ProductField(21))
-->

<div class="flaghight">
    #if ($product.ListPriceMinusBestPriceInPercent > 0)
        <div class="priceLabel">$product.ListPriceMinusBestPriceInPercent</div>
    #end
    $product.HightLight
</div>

<a class="productImage js--lazyload has--lazyload" data-noscript="" title="$escapedName" href="$uri">
    <noscript>$product.GetImageTag(2)</noscript>
    <!-- <span class="prodHover" style="display: none;">$product.GetImageTag(2, "hover")</span> -->
</a>

<div class="data" data-id="$id">
    <h3 class="lead">
        <a title="$escapedName" href="$uri">
            $product.Name
        </a>
    </h3>        
    
    #if ($product.IsInStock)
        <p class="price">
            <a title="$escapedName" href="$uri">
                <em class="installment">
                    <!-- Em até $product.NumbersOfInstallment x  de 
                    $product.InstallmentValue no cartão -->
                    $product.NumbersOfInstallment x  de <strong>$product.InstallmentValue</strong> no cartão
                </em>
                #if ($product.HasBestPrice)
                    <span class="oldPrice">
                        De: $product.ListPrice
                    </span>
                    <span class="bestPrice">
                        Por: $product.BestPrice</small>
                    </span>
                #else
                    <span class="bestPrice">
                        <!-- $product.BestPrice -->
                        Total $product.BestPrice ou
                    </span>                    
                #end
                
                <em class="installment">
                    Em até $product.NumbersOfInstallment x  de 
                    $product.InstallmentValue no cartão
                </em>
                
                <span class="valBoleto">
                    <span class="valBoleto-valor"> </span> à vista no boleto
                </span>
                
            </a>
                            
            $product.BottomBuyAsynchronous
        </p>
        
    #else
        <p class="outOfStock">Produto Esgotado</p> 
    #end
    
</div>