<section>
    <div class="container informativo">
        <div class="container-center">
            <ul>
                <li class="info-01">
                    <span class="icon"> </span>
                    <h3> Compra 100% segura </h3>
                    <p> Para compras no boleto* </p>
                </li>

                <li class="info-02">
                    <span class="icon"> </span>
                    <h3> Site em 10x sem juros </h3>
                    <p> Parcela mínima R$ 30,00 </p>
                </li>

                <li class="info-03">
                    <span class="icon"> </span>
                    <h3> 10% de desconto </h3>
                    <p> Para compras no boleto </p>
                </li>

                <li class="info-04">
                    <span class="icon"> </span>
                    <h3> Entrega em todo brasil </h3>
                    <p> Clique e consulte nossas regras* </p>
                </li>

                <li class="info-05">
                    <span class="icon"> </span>
                    <h3> Atendimento online </h3>
                    <p> 08h às 18h de segunda a sexta-feira. </p>
                </li>
            </ul>
        </div>
    </div>
</section>