
<section>
    <div class="container carrossel-marcas">
        <div class="container-center">

            <h3 class="titulo">As melhores marcas</h3>
            
            <ul>
                <li>
                    <a href="/kwc">
                        <img src="/arquivos/kwc.png" alt="KWC">
                    </a>
                </li>
                <li>
                    <a href="/plano">
                        <img src="/arquivos/plano.png" alt="Plano">
                    </a>
                </li>
                <li>
                    <a href="/asg">
                        <img src="/arquivos/asg.png" alt="ASG">
                    </a>
                </li>
                <li>
                    <a href="/ar">
                        <img src="/arquivos/ar .png" alt="AR ">
                    </a>
                </li>
                <li>
                    <a href="/bb-king">
                        <img src="/arquivos/bb-king.png" alt="BB King">
                    </a>
                </li>
                <li>
                    <a href="/hatsan">
                        <img src="/arquivos/hatsan.png" alt="Hatsan">
                    </a>
                </li>
                <li>
                    <a href="/cbc">
                        <img src="/arquivos/cbc.png" alt="CBC">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>