<div class="menu-lateral-institucional">
    <h3>Institucionais</h3>
    <ul>
        <li><a href="/institucional/fale-conosco">Fale Conosco</a></li>
        <li><a href="/institucional/politica-dispropil">Política de Privacidade</a></li>
        <li><a href="/institucional/formas-pagamento">Formas de Pagamento</a></li>
        <li><a href="/login">Fazer Login</a></li>
        <li><a href="/account">Minha Conta</a></li>
        <li><a href="/account/orders">Meus Pedidos</a></li>
        <li><a href="/checkout">Meu Carrinho</a></li>
    </ul>
</div>