<link rel="shortcut icon" href="/arquivos/loja-favicon.ico" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="/arquivos/jquery-ui.min.css" />
<link href="/arquivos/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="/arquivos/slick.css" rel="stylesheet" type="text/css" />
<link href="/arquivos/loja-estilos-min.css" rel="stylesheet" type="text/css" />