<footer>

    <!-- Estrutura footer -->

    <div class="container footer">
        <div class="container-center">

            <div class="footer-01">

                <div class="footer-01-01">

                    <span class="logo-footer">
                        <vtex.cmc:logo/> </span>

                    <p> Razão Social -CNPJ - Endereço </p>
                </div>

                <div class="footer-01-02">

                    <h3 class="titulo">Minha Conta</h3>
                    <ul>
                        <li>
                            <a href="/login">Fazer Login</a>
                        </li>
                        <li>
                            <a href="/account">Minha Conta</a>
                        </li>
                        <li>
                            <a href="/account/orders">Meus Pedidos</a>
                        </li>
                        <li>
                            <a href="/checkout">Meu Carrinho</a>
                        </li>
                    </ul>

                </div>

                <div class="footer-01-03">

                    <h3 class="titulo">Suporte</h3>
                    <ul>
                        <li>
                            <a href="/institucional/fale-conosco">Fale Conosco</a>
                        </li>
                        <li>
                            <a href="/institucional/politica-dispropil">Política de Privacidade</a>
                        </li>
                        <li>
                            <a href="/institucional/formas-pagamento">Formas de Pagamento</a>
                        </li>
                        <li>
                            <a href="/institucional/legislacao">Legislação</a>
                        </li>
                        <li>
                            <a href="/institucional/sitemap">Mapa do Site</a>
                        </li>
                    </ul>

                </div>

                <div class="footer-01-04">

                    <h3 class="titulo">Fale Conosco</h3>
                    <ul>
                        <li> Fone </li>
                        <li> Horario de atendimento </li>
                        <li> E-mail </li>
                    </ul>

                </div>

            </div>
            <div class="footer-02">

                <div class="footer-02-01">

                    <h3 class="titulo">Formas de Pagamento</h3>
                    <span class="formas-pagamento"> </span>

                </div>

                <div class="footer-02-02">

                    <h3 class="titulo">segurança</h3>

                    <a href="https://letsencrypt.org/" target="_blank">
                        <span class="selo-lets"> </span>
                    </a>

                </div>

            </div>

        </div>
    </div>

    <div class="cantainer direitos-footer">
        <div class="container-center">
            <p>© 2019 Loja.com.br Todos os Direitos Reservados </p>
        </div>
    </div>

    <div class="cantainer ass-footer">

        <div class="container-center">
            <span>
                <a href="http://www.agenciaeplus.com.br/" class="eplus" target="_blank"> </a>
            </span>
            <span>
                <a href="https://www.vtex.com/" class="vtex" target="_blank"> </a>
            </span>
        </div>

    </div>

</footer>