<script src="/arquivos/bootstrap.js?u=1"></script>
<script src="/arquivos/pace.min.js"></script>
<script src="/arquivos/slick.js"></script>
<script src="/arquivos/instafeed.min.js"></script>
<script src="/arquivos/vtex-lazyload.min.js"></script>
<script src="/arquivos/loja-script-min.js"></script>