<header>

    <!-- Estrutura topBar -->

    <div class="container top-bar">
        <div class="container-center">

            <ul>
                <li>
                    <a href="/institucional/fale-conosco"> Atendimento </a>
                </li>
                <li>
                    <a href="/account/orders"> Acompanhe seus Pedidos </a>
                </li>
                <li> SAC
                    <b> (99) 9999-9999 </b>
                </li>
            </ul>

        </div>
    </div>

    <!-- Estrutura Cabeçalho -->

    <div class="container header">
        <div class="container-center">

            <span class="btn-menu-mobile"> </span>

            <div id="logo-top">
                <a href="/">
                    <vtex.cmc:logo/>
                </a>
            </div>

            <div class="busca-topo">
                <vtex.cmc:fullTextSearchBox/>
            </div>

            <div class="saudacao-topo">

            </div>

            <div class="carrinho">
                <a href="/checkout">
                    <span class="icon-cart"></span>
                    <div class="info-cart">
                        <span class="cart-title"> Meu carrinho </span>
                        <span class="qtd-cart"> Iten(s)</span>
                    </div>
                </a>
            </div>

        </div>
    </div>

    <!-- Estrutura menu -->

    <div class="container menu-topo">
        <div class="container-center">

            <nav>
                <ul class="menu-principal"></ul>
            </nav>

        </div>
    </div>

</header>